[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork
[submodule "LightGlue"]
	path = LightGlue
	url = https://github.com/marknaeem/LightGlue.git
